  * {
    box-sizing: border-box;
  }

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #000000;
  }

  header, footer {
    text-align: center;
    padding: 20px;
    background-color: #383838;
    color: white;
  }

  header img {
    max-width: 120px;
  }

  main {
    max-width: 900px;
    margin: 30px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
  }

  h2{
    text-align: center;
    margin-bottom: 20px;}

  h3 {
    margin-top: 0;
  }

  form {
    display: grid;
    gap: 15px;
    margin-bottom: 20px;
  }

  label {
    font-weight: bold;
  }

  input[type="text"],
  input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  input[type="submit"] {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }

  input[type="submit"]:hover {
    background-color: #218838;
  }

  #valorTotal,
  #totalProdutos {
    font-weight: bold;
    font-size: 18px;
    margin: 10px 0;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
  }

  th, td {
    padding: 12px;
    border: 1px solid #ccc;
    text-align: center;
  }

  th {
    background-color: #007BFF;
    color: white;
  }

  button {
    padding: 8px 12px;
    margin-right: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }

  button:hover {
    opacity: 0.9;
  }

  .editar {
    background-color: #ffc107;
    color: black;
  }

  .deletar {
    background-color: #dc3545;
    color: white;
  }

  #limparTabela {
    background-color: #6c757d;
    color: white;
  }

  footer a {
    color: #fff;
    text-decoration: underline;
  }




  .input-container {
  position: relative;
  margin-bottom: 20px;
}

.input-container input {
  width: 100%;
  padding: 12px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  background-color: white;
}

.input-container label {
  position: absolute;
  top: 12px;
  left: 12px;
  background-color: white;
  padding: 0 5px;
  color: #888;
  font-size: 16px;
  pointer-events: none;
  transition: 0.2s ease all;
}

.input-container input:focus + label,
.input-container input:not(:placeholder-shown) + label {
  top: -10px;
  left: 8px;
  font-size: 12px;
  color: #007BFF;
}

.input-container input:focus {
  border-color: #007BFF;
}
